:root {
  --border-radius: 12px;
  --font-mono: var(--font-motserrat);

}
* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  max-height: fit-content;
  min-height: 100vh;
  padding: 16px;
}

header {
  background-color: blueviolet;
  display: grid;
  padding: 16px;
  width: 100%;
}

footer {
  background-color: blueviolet;
  padding: 16px;
  width: 100%;
}