:root {
  --border-radius: 12px;
  --font-mono: var(--font-motserrat);
}
* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  color: #1e1e1e;
  max-height: fit-content;
  min-height: 100vh;
  padding: 16px;
}

header {
  background-color: #f40009;
  color: #fff;
  display: grid;
  padding: 16px;
  width: 100%;
}

footer {
  background-color: #1e1e1e;
  color: #fff;
  padding: 16px;
  text-align: center;
  width: 100%;
}

h1 {
  text-align: center;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #1e1e1e #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #1e1e1e;
    border-radius: 12px;
    border: 0px solid #1e1e1e;
  }